/* here you can put your own css to customize and override the theme */
.form-wizard .steps > li > a.step > .number {
   font-size: 46px;
   padding: 18px 15px 13px 15px;
   margin-right: 10px;
   height: 130px;
   width: 130px;

}

.form-wizard .steps > li > a.step > .desc {
   font-size: 16px;
   
   margin-right: 10px;

}


.slim {
    border-radius: 50%;
}



/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}





